.bo{
    position: absolute;
    width: 1440px;
    height: 715px;
    left: 0px;
    top: -7px;
    background: linear-gradient(153.26deg, #DEC4FC 1.34%, #91C6FC 96.08%);
}
.profile-img-card{
    width: 150px;
    border-radius: 50%;
}
.line{
    background-color: black;
    width: 100%;
    height: 10%;
}
.group-inp{
    padding: 50px;
    display: flex;
    justify-content: center;
    width: 100% !;
    
}
.inp{
    margin-bottom: 20px;
    width: 100% !important;
    height: 40px;
    border-radius: 20px;
}
.with{
    width: 50%;
}
.btn{
    margin-top: 20px;
    background-color: black;
    color: white;
    height: 50px;
}